{% extends 'base.html' %}

{% block title %}FoodBank{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Nearyby FoodBank</h1>

    <form id="food-bank-form" method="GET" class="form-inline my-4">
        <input type="hidden" name="type" value="food_bank">
        <div class="form-row align-items-end">
            <div class="form-group mr-2">
                <label for="county-food-bank" class="mr-2">County:</label>
                <select id="county-food-bank" name="county" class="form-control">
                    <option value="">所有縣市</option>
                    {% for c in counties %}
                        <option value="{{ c }}" {% if c == selected_county %}selected{% endif %}>{{ c }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group mr-2">
                <label for="district-food-bank" class="mr-2">District:</label>
                <select id="district-food-bank" name="district" class="form-control">
                    <option value="">所有地區</option>
                    {% for d in districts %}
                        <option value="{{ d }}" {% if d == selected_district %}selected{% endif %}>{{ d }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="bg-dark-green btn btn-primary mt-4">篩選</button>
            </div>
        </div>
    </form>

    <h2>FoodBank</h2>
    <ul class="list-group">
        {% for org in organizations %}
            <li class="list-group-item">
                <strong>{{ org.name }}</strong><br>
                地址: {{ org.address }}<br>
                電話: {{ org.contact }}
            </li>
        {% endfor %}
        {% if organizations|length == 0 %}
            <li class="list-group-item">沒有找到符合條件的結果。</li>
        {% endif %}
    </ul>
</div>

<script>
    document.getElementById('county-food-bank').addEventListener('change', function() {
        document.getElementById('district-food-bank').selectedIndex = 0; // Reset district selection
        document.getElementById('food-bank-form').submit(); // Submit the form
    });
</script>
{% endblock %}
