{% extends 'base.html' %}

{% block title %}首頁 - 我的網站{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to ECO-LIFE</h1>
    {% if user.is_authenticated %}
        <p>You have successfully logged in</p>
    {% endif %}
    <img src="https://media.discordapp.net/attachments/1238527755793076336/1250369104888725504/picture1.webp?ex=666ab079&is=66695ef9&hm=6eddcb564765443d93b89a0eb52e61d07c3f442a82c7fef73eb211ea63e85e8a&=&format=webp&width=1020&height=583" alt="ECO-LIFE Image" class="img-fluid mt-4">
</div>
{% endblock %}
