{% extends 'base.html' %}

{% block title %}User info{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4">User info</h1>
    <ul class="list-group">
            <li class="list-group-item">
                <strong>Title:</strong> {{ user.title }}<br>
                <strong>Email:</strong> {{ user.email }}<br>
                <strong>Phone:</strong> {{ user.phone }}
            </li>
    </ul>
    <a href="{% url 'report' %}" class="bg-dark-green btn btn-primary mt-4">Create Report</a>
</div>
{% endblock %}
